.header {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    margin: 28px auto 0px;
}

@media all and (max-width: 767px) {
    .header {
        margin: 16px auto 0px;
    }
}