.into {
    display: grid;
    max-width: calc(100% - 100px*2);
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .into {
        max-width: 100%;
        margin: 0px;
    }
}

@media screen and (max-width: 1023px) {
    .into {
        width: 720px;
        margin: 0px;
    }
}

@media all and (max-width: 767px) {
    .into {
        width: 100%;
    }
}